
/* Add an indicator to external links */
a[target="_blank"]::after {
    content: "";
    display: inline-block;
    margin-left: .1rem;
    width: 0.8em;
    height: 0.8em;
    vertical-align: text-top;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url("/images/external-link.svg");
    background-color: var(--md-primary-bg-color);
    transition: background-color 125ms;
    opacity: 0.7;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-image: url("/images/external-link.svg");
}

.md-typeset a[target="_blank"] {
    &::after {
        background-color: var(--md-default-fg-color--light);
    }
    &:hover::after {
        background-color: var(--md-accent-fg-color);
    }
}

.md-nav__list a[target="_blank"]::after {
    background-color: var(--md-typeset-color);
    margin-left: 0;
    width: 1em;
    height: 1em;
}
