
/* Add an indicator to external links */
a[target="_blank"]::after {
    content: "";
    display: inline-block;
    margin-left: .1rem;
    width: 0.8em;
    height: 0.8em;
    vertical-align: text-top;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url("/images/external-link.svg");
    background-color: var(--md-default-fg-color--lighter);

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-image: url("/images/external-link.svg");
}

a[target="_blank"]:hover::after {
    background-color: var(--md-default-fg-color--light);
}
